# Web Scraping - Mission to Mars

In [1]:
#Dependencies
import os
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\maiko\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
#URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
#HTML object
html = browser.html
#Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#soup.prettify()

# NASA Mars News

In [ ]:
#Scrape the Mars News Site and collect the latest News Title and Paragraph Text
#Save these items to variables so that you can use them later

title = soup.find('div', class_='content_title').text
text = soup.find('div', class_='article_teaser_body').text


print(title)
print("-------------------------")
print(text)

# JPL Mars Space Images - Featured Image

In [6]:
#Visit the url for the Featured Space Image site here
space_url = 'https://spaceimages-mars.com/'
url = space_url + 'image/featured/mars2.jpg'
browser.visit(space_url)

In [7]:
#HTML object
html = browser.html
#Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#soup.prettify()

In [8]:
#Use Splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
#Make sure to find the image url to the full size .jpg image.
#Make sure to save a complete url string for this image.

image = soup.find_all('img')[11]['src']
featured_image_url = space_url + image
    
print(featured_image_url)

https://spaceimages-mars.com/image/mars/Proctor Crater Dunes.jpg

# Mars Facts

In [9]:
#Visit the Mars Facts webpage and use Pandas to scrape the table containing Mars facts
url = 'https://galaxyfacts-mars.com/'

In [10]:
#Process the table
tables = pd.read_html(url)
tables
#type(tables)(Url has 2 tables)
#len(tables)

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#Decided to use table 1
df = tables[1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [12]:
#Rename the columns
df.columns = ["Facts", "Mars Information"]
df.head()

                  Facts               Mars Information
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [13]:
#Reset the index of table
df.set_index('Facts', inplace=True)
df.head()

                                   Mars Information
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)

In [14]:
#Use Pandas to convert the data to a HTML table string
#Clean the table
html_table = df.to_html()
html_table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Information</th>    </tr>    <tr>      <th>Facts</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [15]:
#Save table directly to a file 
df.to_html('table.html')
!open table.html

'open' is not recognized as an internal or external command,
operable program or batch file.

# Mars Hemispheres

In [95]:
#Visit the astrogeology site to obtain high resolution images for each of Mars's hemispheres.
hemp_url = 'https://marshemispheres.com'
url = hemp_url + '/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'
browser.visit(hemp_url)

In [96]:
#Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 
#Use a Python dictionary to store the data using the keys img_url and title.

#Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

#HTML object
html = browser.html
#Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#soup.prettify()

hemispheres = soup.find_all('div', class_='item')

#Create empty list
hemp_titles = []
img_urls = []


#Loop through each hemisphere pages
for hemisphere in hemispheres:
    
    title = hemisphere.find('h3').text
    hemp_titles.append(title)

    browser.visit(url)
    
    #HTML object
    html = browser.html
    #Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    #soup.prettify()
    
    one_url = hemp_url + soup.find('img')['src']
    img_urls.append(one_url)
    
    
    print('-------------------------')
    print(title)
    print(img_urls)

-------------------------
Cerberus Hemisphere Enhanced
['https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']
-------------------------
Schiaparelli Hemisphere Enhanced
['https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']
-------------------------
Syrtis Major Hemisphere Enhanced
['https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']
-------------------------
Valles Marineris Hemisphere Enhanced
['https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.comhttps://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']